.card {
    border: 2px solid #222;
    height: 300px;
    width: 300px;
    margin: auto;
    background-color: whitesmoke;
    box-shadow: 10px 10px #222;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(54, 54, 54);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container  h1 {
    margin-top: 30px;
}

h2 {
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    font-size: 1.7rem;
    margin: auto;
    margin-top: 20px;
}